@import "../../styles/common.scss";
.slide-show{
    margin: 210px 50px 50px 50px;
}
.img-wrap{
    margin-top: 100px;
    height: 510px;
    width: auto;
}
.img-wrap img {
    height: 500px; 
    width: 100%;
}
.container-product{
    margin:  0px 170px ;
    padding: 80px 70px;
    align-items: center;
    justify-content: space-around;
   
    .title {
        max-width: 40%;
        margin-left: 32%;
        font-size: 30px;
        // font-family: Century Gothic;
        font-family: Courier New;
        padding: 10px 0px;
        text-align: center;
        color: rgb(249, 253, 251);
        border-radius: 60px;
        background-color: #7ed000;
    }
    .row{
        padding: 10px;
        font-family: monospace;
        .product{
            border: 3px solid  rgb(246, 248, 247) ;
            background-color: #F5FFFA;
            margin: 50px 40px;
            //padding: 10px;
           
            &:hover{
                transform: scale(1.05);
                background-color: rgb(249, 248, 245);
            }
           
        }
        .description-pro{
            color: rgb(9, 116, 32);
            margin-top: 40px;
        }
        .product-name{
            margin-top: 10px;
            margin-left: 15px;
            font-size: 17px;
            font-weight: 100px;
            font-family: monospace;
            height: 50px;
            opacity: 1;
            width: auto;
            border-radius: 13px;
            background-color: rgb(226, 249, 249);
            color: rgb(1, 113, 16);
            &:hover{
                transform: scale(1.02);
                background-color: #ffffff;
                border: 1px solid rgb(1, 113, 16);
           }
        }
    }
    .img-pro {
        border: 1px solid  rgb(9, 116, 32);
        border-radius: 30px;
        height: 210px;
        // clip-path: circle(95px);
        width: 100%;
        overflow: hidden;
    }
    .img-pro img{
        height: 300px; 
    
    }
    
}






