.collection-form{
    // margin: 190px 170px 0 170px;
    margin: 190px 200px;
    .title-collection-form{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;
    }
    .line{
        margin-left: 530px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
}
.container-collection-form-status{
    padding: 80px 70px;
    align-items: center;
    .wrapper-link {
            // padding-bottom: 2px;
            border-bottom: 1px solid #F8F8FF;
    
            a {
                margin-left: 50px;
                text-decoration: none;
                color: #646363;
    
    
                .icon {
                    font-size: 19px;
                    margin-right: 10px;
    
                }
            }
        }
    .div-content{
        margin-left: 90px;
        .icon {
            font-size: 19px;
            margin-right: 10px;
            color: #646363;
        }
    
        a {
            text-decoration: none;
            color: #646363;
        }
    }
    .title {
        max-width: 40%;
        margin-left: 32%;
        margin-top: 5%;
        font-size: 30px;
        font-family: Courier New;
        padding: 10px 0px;
        text-align: center;
        color: rgb(249, 253, 251);
        border-radius: 60px;
        background-color: #7ed000;
    }
    .row{
        .collection-form{
            font-size: 14px;
            border-radius: 15px;
            border: 3px solid  rgb(246, 248, 247) ;
            background-color: #F5FFFA;
            margin: 50px 40px;
            padding: 40px 30px;
            &:hover{
                transform: scale(1.05);
                background-color:  #fbf5f7;
            }
            .img-pro {
                clip-path: circle(55px);
                height: 120px;
                width: 100%;
                overflow: hidden;
            }
            .img-pro img{
                height: 100px; 
            
            }
            .info-giver-recipient{
                .icon{
                    margin: 3px 6px 0px 0px ;
                    color:#8CC63E;
                }
            }
            .info-collection{
                .info{
                    color:#8CC63E;
                   
                }
                .icon{
                    margin-bottom: 10px;
                    color:#8CC63E;
                }
                .status-s2{
                    font-family: Courier New;
                    font-size: 13px;
                    color: black;
                    width: fit-content;
                    background: #FFFF00;
                    padding: 0px 5px;
                    .icon{
                        margin-bottom: 3px;
                        color: black;
                        background: yellow;
                    }
                }
                .status-s4{
                    font-family: Courier New;
                    font-size: 13px;
                    color: #fff;
                    background: #7ed000;
                    padding: 0px 5px;
                    .icon{
                        font-size: 15px;
                        margin-top:5px;
                        color: #fff;
                        background: #7ed000 ;
                    }
                }
                .status-s5{
                    font-family: Courier New;
                    font-size: 13px;
                    // font-weight: 700;
                    color: #fff;
                    background: #ee4a4a;
                    padding: 0px 5px;
                    .icon{
                        margin-top:5px;
                        color: #fff;
                        background: #ee4a4a;
                    }
                }
                .btn-detail {
                    width: auto;
                    margin-left: 45%;
                    padding: 0px 7px;
                    border-radius: 10px;
                    background-color: rgb(226, 249, 249);
                    color: rgb(1, 113, 16);
                    &:hover{
                        background-color: #ffffff;
                        transform: scale(1.1);
                        border: 1px solid rgb(1, 113, 16);
                    }
                }
                .update-status{
                    right: 400px;
                    position: absolute;
                        
                    .btn-update-status{
                        margin-left: 15px;
                        border-radius: 13px;
                        background-color: rgb(226, 249, 249);
                        color: rgb(1, 113, 16);
                    //     &:hover{
                    //         position: fixed;
                    //             right: 0;
                    //             width: auto;
                    //         background-color: #ffffff;
                    //         // transform: scale(1.1);
                    //         border: 1px solid rgb(1, 113, 16);
                        
                    // }
                }
                
                 }
        }
           
        }
        
    }
   
}