.container-cart{
    margin: 20px 150px 130px 150px;
    max-width: 100%;
    text-align: center;
    .title-cart{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 45px;
    }
    .line{
        margin-left: 580px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .table-cart{
        width: 100%;
        .thead{
            background-color: rgb(0, 0, 0);
            color: white;
            text-align: center;
            padding: 100px 0px;
            font-weight: 200;
        }
        .tbody{
            :hover{
                background-color:#F5FFFA;
            }
            img.img-img {
                // clip-path: circle(25px);
                border: 0.5px solid black;
                width: 80px;
                height: 80px;
            }
        }
        .btn-delete {
            width: 50px;
            background-color: white;
            color: #dc3545;
            border: 1px solid #dc3545;
            font-size: 20px;
            &:hover{
                color: white;
                background-color: #fc394d;
            }
        }

       
        
    }
   
    .btn-booking{
        font-weight: 500;
        width: auto;
        margin-top: 100px;
        border-radius: 13px;
        background-color: rgb(226, 249, 249);
        color: rgb(1, 113, 16);
        &:hover{
            background-color: #ffffff;
            transform: scale(1.1);
            border: 1px solid rgb(1, 113, 16);
    
        }
        .link {
            color: rgb(1, 113, 16);
            text-decoration: none;
               
        }
       
    }

    
}





