
.modal .modal-dialog .modal-content .modal-header{
    background-color:#7ed000;
    color: #ffffff;
    font-family: Courier New;
}

.container{
    max-width: 100%;
    text-align: center;
    .title-collection{
        margin-top: 200px;
        font-size: 25px;
        font-weight: 320;
        margin-top: 200px;
        color:  rgb(9, 116, 32);
      
    }
    .btn{
        padding: auto;
        height: 40px;
    }
    .table-cart{
        justify-content: center;
        position: absolute;
        left: 5%;
        width: 90%;
        margin-top: 10px;
        .thead{
            border-radius: 10px;
            background-color:black;
            color: white;
        }
        .tbody{
            :hover{
                background-color:rgb(237, 245, 246);
            }
        }
        img.img-img {
            width: 180px;
            height: 150px;
        }
        .btn-edit {
            width: 50px;
            background-color: white;
            color: rgb(245, 221, 7);
            border: 1px solid rgb(245, 221, 7);
            font-size: 20px;
        
            &:hover{
                background-color: transparent;
                color: white;
                background-color: rgb(255, 251, 7)
            }
        }   
        .btn-delete {
            width: 50px;
            background-color: white;
            color: #dc3545;
            border: 1px solid #dc3545;
            font-size: 20px;
            &:hover{
                color: white;
                background-color: #fc394d;
            }
        }
        .btn-detail {
            width: 105px;
            border-radius: 13px;
            background-color: rgb(226, 249, 249);
            color: rgb(1, 113, 16);
            &:hover{
                background-color: #ffffff;
                transform: scale(1.1);
                border: 1px solid rgb(1, 113, 16);
            }
        }
    }
   
    
    
}





