.news{
    margin: 50px 215px 130px 215px;
    .title-news{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }
    .line{
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        // border-bottom-width: 5px;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .row{ 
        .content {
            border: 5px solid #8CC63E;
            border-radius: 15px;
            margin: 30px;
            padding: 30px 20px;
            &:hover{
                scale: (1.1);
              
            }
            .img .img-pro{
                border-radius: 20px;
                height: 160px;
                width: 100%;
              
            }
            .info-news{
                padding: 30px 15px;
                .link{
                    text-decoration: none;
                    .title{
                        font-size: 17px;
                        color: #233238;    
                    }
                    .time{
                        font-size: 12px;
                        color: #7ed000;
                    }
                    .count-submission{
                        color: #233238;
                    }
                }
               
            }
        }
      
    }
}

.news-detail{
    margin: 220px;
    justify-content: center;
    .title-news-detail{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }
    .line{
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
}
.create-submission {
    margin: 0 200px 0 200px;
    max-width: 100%;

    .title-create-submission {
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }

    .line {
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        // border-bottom-width: 5px;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }

    .row1-create-submission {
        width: auto;
        margin: 20 200px 0 0;

        .img-news {
            border-radius: 10px black;

        }

        .upload-file {
            width: 90px;
            height: 34px;
            padding: 7px;
            border-radius: 3px;
            background-color: #ddd;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .news-about-editor {
        max-width: 89%;
        margin: 0 20px 0 215px;
        margin-top: 20px;
    }

    .img-img {
        width: 180px;
        height: 150px;
    }

    .news-content {
        // background-image: url('../../../assets/background.svg'),linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .news-frames {
        margin: 0 200px;
        margin-top: -150px;
        // border: 1px solid red;
        height: auto;
        background: white;
        border-radius: 10px;

        .news-header {
            background: green;
            color: white;
            border-radius: 10px;
            height: 60px;
            width: 100%;

            .content-up {
                height: 75%;
                padding: 30px;

                .news-title {
                    text-align: center;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 40px;
                    text-shadow: 2px 1px #000;
                    color: floralwhite;
                    font-weight: bold;
                }
            }
        }

        .frames-content {
            border: 1px solid gray;
            // margin: 20px 30px;
            border-radius: 5px;
            height: 200px;
            display: flex;

            .news-cent {
                height: 100%;
                padding: 1%;
                border-radius: 5px;
                // border: 1px solid yellow;

                .cent-on {
                    height: 35%;
                    // border: 1px solid red;
                    // margin-bottom: 1%;
                    color: #171db5;
                    font-size: 21px;
                    font-weight: bold;
                    cursor: pointer;

                    .news-time {
                        color: gray;
                        font-size: 14px;
                        padding-left: 5px;
                        // border: 1px solid black;

                        i {
                            padding-right: 10px;
                        }
                    }

                    &:hover {
                        color: black;
                    }
                }

                .cent-down {
                    height: 62%;
                    // border: 1px solid purple;
                    font-size: 18px;
                    text-align: justify;
                }
            }
        }

    }

    .btn-save {
        width: auto;
        padding: 5px 20px;
        margin: 30px 0px 30px 1135px;
        border-radius: 10px;
        background-color: #e2f9f9;
        color: #017110;
    }

    .table {
        // // max-width: 97%;
        // margin: 0 0 0 115px;
        text-align: center;
        justify-content: center;
        position: absolute;
        left: 21%;
        width: 88%;
        background-color: white;
        border-radius: 10px;

        .thead {
            max-width: 88%;
        }

        .tbody {
            .btn-edit {
                background-color: white;
                color: rgb(245, 221, 7);
                border: 1px solid rgb(245, 221, 7);
                font-size: 18px;

                &:hover {
                    color: white;
                    background-color: rgb(255, 251, 7)
                }
            }

            .btn-delete {
                background-color: white;
                color: #dc3545;
                border: 1px solid #dc3545;
                font-size: 18px;

                &:hover {
                    color: white;
                    background-color: #fc394d;
                }
            }

            :hover {
                background-color: #F5FFFA;
            }

        }

    }

}

.competition {
    margin: 50px 215px 130px 215px;

    .title-competition {
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }

    .line {
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        // border-bottom-width: 5px;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }

    .row {
        border: 5px solid #8CC63E;
        border-radius: 15px;
        margin: 30px;
        padding: 30px 20px;

        .content {
         

            .link {
                text-decoration: none;

            }

            .img {
                .img-pro {
                    border-radius: 20px;
                    height: 200px;
                    width: 100%;

                }
            }

            .info-competition {
                .title-info-competition {
                    font-size: 22px;
                    color: rgb(56, 56, 130);
                    font-weight: 600;
                }

                .time {
                    font-size: 12px;
                    color: #7ed000;
                }

                .description {
                    font-size: 13px;
                }


            }
        }

        .button {
            display: flex;

            .count-submission {
                margin: 0 2px;
                padding: 15px 5px;
                font-weight: 600;
                font-size: 12px;
                color: rgb(97, 94, 94);
                .see-submission{
                    margin:0 2px;
                    color: #7ed000;
                    .icon {
                        margin-bottom: 4px;
                    }
                }

            }

            .btn-upload-competion {
                width: auto;
                position: absolute;
                right: 300px;
                padding: 10px;
                border-radius: 13px;
                background: #8CC63E;
                color: #FFF;

                &:hover {
                    transform: scale(1.02);
                    color: rgb(1, 113, 16);
                    background-color: #FFF;
                    border: 1px solid rgb(1, 113, 16);

                }
            }
        }

    }

}

.competition-detail {
    margin: 220px;
    justify-content: center;

    .title-competition-detail {
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }

    .line {
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
}

.create-submission{
    margin: 0 100px 0 200px;
    max-width: 100%;
    .title{
        max-width: auto;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        color: #0071ba;
    }
    .row1-create-submission{
        width: auto;
        margin-top: 20px;
        .img-news{
            border-radius: 10px black;

        }   
        .upload-file{
            width: 90px;
            height: 34px;
            padding: 7px;
            border-radius: 3px;
            background-color: #ddd;
            cursor: pointer;
    
            &:hover{
                opacity: 0.9;
            }
        }
    }
    .news-about-editor {
        max-width: 89%;
        margin: 0 20px 0 215px;
        margin-top: 20px;
    }
    .img-img{
        width: 180px;
        height: 150px; 
    }
    .news-content{
        // background-image: url('../../../assets/background.svg'),linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .news-frames{
        margin: 0 200px;
        margin-top: -150px;
        // border: 1px solid red;
        height: auto;
        background: white;
        border-radius: 10px;

        .news-header{
            background: green;
            color: white;
            border-radius: 10px;
            height: 60px;
            width: 100%;

            .content-up{
                height: 75%;
                padding: 30px;
                .news-title{
                    text-align: center;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 40px;
                    text-shadow: 2px 1px #000;
                    color: floralwhite;
                    font-weight: bold; 
                }
            }
        }

        .frames-content{
            border: 1px solid gray;
            // margin: 20px 30px;
            border-radius: 5px;
            height: 200px;
            display: flex;

            .news-cent{
                height: 100%;
                padding: 1%;
                border-radius: 5px;
                // border: 1px solid yellow;

                .cent-on{
                    height: 35%;
                    // border: 1px solid red;
                    // margin-bottom: 1%;
                    color: #171db5;
                    font-size: 21px;
                    font-weight: bold;
                    cursor: pointer;

                    .news-time{
                        color: gray;
                        font-size: 14px;
                        padding-left: 5px;
                        // border: 1px solid black;
                        
                        i{
                            padding-right: 10px;
                        }
                    }

                    &:hover{
                        color: black;
                    }
                }

                .cent-down{
                    height: 62%;
                    // border: 1px solid purple;
                    font-size: 18px;
                    text-align: justify;
                }
            }
        }
        
    }
    .btn-save {
        width: auto;
        padding: 5px 20px;
        margin: 30px 0px 30px 1167px;
        border-radius: 10px;
        background-color: #e2f9f9;
        color: #017110;
    }
    .table {
        // // max-width: 97%;
        // margin: 0 0 0 115px;
        text-align: center;
        justify-content: center;
        position: absolute;
        left: 21%;
        width: 88%;
        background-color: white;
        border-radius: 10px;
        .thead{
            max-width: 88%;
        }
        .tbody{
            .btn-edit {
                background-color: white;
                color: rgb(245, 221, 7);
                border: 1px solid rgb(245, 221, 7);
                font-size: 18px;
            
                &:hover{
                    color: white;
                    background-color: rgb(255, 251, 7)
                }
            }
            .btn-delete {
                background-color: white;
                color: #dc3545;
                border: 1px solid #dc3545;
                font-size: 18px;
                &:hover{
                    color: white;
                    background-color: #fc394d;
                }
            }
            :hover{
                background-color:#F5FFFA;
            }
           
        }
        
    }
    
}

.submission{
    margin: 50px 215px 130px 215px;
    .title-submission{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }
    .line{
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        // border-bottom-width: 5px;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .row {
        border: 5px solid #8CC63E;
        border-radius: 15px;
        margin: 20px;
        padding: 30px 20px;
    
        .content-competition {
            padding: 30px 15px;
    
            .link {
                text-decoration: none;
    
            }
    
            .img {
                .img-pro {
                    border-radius: 20px;
                    height: 180px;
                    width: 100%;
    
                }
            }
    
            .info-competition {
                .title-info-competition {
                    font-size: 22px;
                    color: rgb(56, 56, 130);
                    font-weight: 600;
                }
    
                .time {
                    font-size: 12px;
                    color: #7ed000;
                }
    
                .description {
                    font-size: 13px;
                }
    
    
            }
        }
    
        .button {
            display: flex;
    
            .count-submission {
                padding: 15px 5px;
                font-weight: 600;
                font-size: 12px;
                color: rgb(97, 94, 94);
    
                .icon {
                    padding-top: 1px;
                    color: #7ed000;
                }
                .btn-isShow{
                    font-size: 12px;
                    margin-top: -7px;
                    color:#8CC63E;
                    .icon-see{
                        margin-right: 3px;
                    }
                }
    
            }
    
            .btn-upload-competion {
                width: auto;
                position: absolute;
                right: 40px;
                padding: 10px;
                border-radius: 13px;
                background: #8CC63E;
                color: #FFF;
    
                &:hover {
                    transform: scale(1.02);
                    color: rgb(1, 113, 16);
                    background-color: #FFF;
                    border: 1px solid rgb(1, 113, 16);
    
                }
            }
        }
        .submission-container{
            .content {
                    border: 1px solid #8CC63E;
                    border-radius: 15px;
                    margin: 20px;
                    padding: 10px;
            
                    .info-participant {
                        display: flex;
            
                        .img .img-pro {
                            clip-path: circle(50%);
                        
                            width: 50px;
                            height: 50px;
                        }
            
                        .name {
                            color: rgb(97, 94, 94);
                            // font-weight: 600;
                            font-family: 'comic sans ms', sans-serif;
                            padding: 15px 10px;
                            font-size: 14px;
                        }
                    }
            
                    .info-submission {
                        // margin: 15px;
                        // padding: 20px;
                        // border: 1px solid rgb(97, 94, 94);
                        // border-radius: 15px;
                        margin: 10px 0 7px 0;
                        border-top: 1px solid #8CC63E;
                        padding: 20px ; 
                        /* border: 1px solid #8CC63E; */
                         border-bottom: 1px solid #8CC63E;
                        
                        .link {
                            text-decoration: none;
            
                        }
            
                        .img .img-pro {
                            border-radius: 20px;
                            height: 200px;
                            width: 100%;
            
                        }
            
                        .d-submission {
                            .title {
                                font-size: 17px;
                                color: rgb(56, 56, 130);
                                font-weight: 600;
                            }
            
                            .time {
                                font-size: 10px;
                                color: #7ed000;
                            }
            
                            .description {
                                font-size: 12px;
                            }
            
                            .count-submission {
                                font-weight: 600;
                                font-size: 12px;

                                color: rgb(97, 94, 94);
            
                            }
            
                        }
                    }

                    .wrapper-icon{
                        display: flex;
                        .text-count-heart{
                            color: #dc3545;
                            margin-left: 30px;
                            font-family: 'comic sans ms', sans-serif;
                            font-size: 13px;
                            align-items: space-between;
                            padding: 0;
                        }
                        .btn-heart{
                            padding: 0;
                        }
                        .btn-delete{
                            padding: 2px 3px 3px;
                            right: 70px;
                            position: absolute;
                            background-color: white;
                                // color: #dc3545;
                                border-radius: calc(50%);
                                
                            
                                &:hover {
                                    color: white;
                                    background-color: #fc394d;
                                    border-radius: calc(50%);
                                }
                            
                        }
                    }
            
                    .button {
                        .btn-upload-competion {
                            width: auto;
                            margin: 30px 0 20px 850px;
                            padding: 8px;
                            border-radius: 13px;
                            background: #8CC63E;
                            color: #FFF;
            
                            &:hover {
                                transform: scale(1.02);
                                color: rgb(1, 113, 16);
                                background-color: #FFF;
                                border: 1px solid rgb(1, 113, 16);
            
                            }
                        }
                    }
            
                }

        }
    }
            

    &:hover{
        scale: (1.03);
    }
}

.submission-detail {
    margin: 220px;
    justify-content: center;

    .title-submission-detail {
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }

    .line {
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .wrapper-info-submission{
        right: 230px;
        position: absolute;
       
        .info-submisser{
            font-style: italic;
            font-size: 15px;

            .title-text{
                color: #a9a9a9;

                margin-right: 3px;
            }
            .info-text{
                color: #000;
              
            }
        }
    }
}
