.user-info {
    margin: 190px 200px;
    .title-user-info{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 45px;
    }
    .line{
        margin-left: 530px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .user-info-content{
        padding: 15px 150px 10px 150px;
        border-radius: 10px;
        align-items: center;
        .account {
            .link-homepage{
                text-decoration: none;
                color: #646363;
                .icon {
              
                }
                .text {
                    margin: 3px 20px 0 3px;
                }
            }
               
        }
        .row{
            .img{
                .img-pro {
                    height: 100px;
                    width: 100%;
                    overflow: hidden;
                }
                .img-pro img{
                    height: 120px; 
                
                }
            }
            .info{
                margin: 15px 30px;
                color: #288500;
                .icon{
                    margin-bottom: 9px;
                }
            }
            .btn-edit {
                    border: 1px solid rgb(255, 252, 79);
                    border-radius: 10px;
                    background: #fff;
                    color:rgb(249, 245, 0);
                    font-size: 20px;
                    &:hover {
                        padding: 7px 10px 12px 11px;
                        color: white;         
                        clip-path: circle(40%);
                        background-color:rgb(255, 252, 79);
                    }
                }
            
                .btn-delete {
                    border: 1px solid #dc3545;
                    border-radius: 10px;
                    background: #fff;
                    color: #dc3545;
                    font-size: 20px;
                    &:hover {
                        padding: 7px 10px 12px 11px;
                        color: white;
                        background-color: #fc394d;
                        clip-path: circle(40%);
                    }
                }

        }
    }
}

.form-change-password {

    // width: 50%;
    font-family: monospace;

    .forgot-input {
        font-family: monospace;
        font-size: 14px;
        padding: 19px 20px;
        .label {
            color: #7ed500;
            margin-bottom: 0.5rem;
        }
        .icon {
            margin-right: 10px;
        }
        input {
            width: 100%;
            font-size: 16px;
            border: none;
            outline: none;
            border-bottom: 1px solid #288500;
                &:hover {
                    height: 34px;
                    border-radius: 10px;
                    border: 1px solid rgb(51, 51, 51);
                }
        }

    }

    .btn-confirm {
        margin-left: 350px;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        border-radius: 25px;
        color: rgb(255, 255, 255);
        background: -webkit-linear-gradient(left, #7ed000, #7ed400, rgb(55, 163, 21));
    }
}