// .news{
//     .title-news{
//         justify-content: center;
//         font-family: monospace;
//         font-weight: 500;
//         color: #333333;
//         font-size: 50px;

//     }
//     .line{
//         margin-left: 520px;
//         margin-bottom: 50px;
//         text-align: center;
//         border-style: solid;
//         // border-bottom-width: 5px;
//         border-color: #222222;
//         height: 3px;
//         width: 80px;

//     }
//     .news-content{
//         // background: #FFF;
//         // padding: 30px 0;
//         .row{
//             // margin: 80px;
          
//             .img {
//                 height: 250px;
//                 width: 100%;
//               //  overflow: hidden;
//                 border: 5px solid #8CC63E;
//                 border-radius: 15px;
//             }
//             .frames-title{
//                 font-size: 15px;
//                 color: rgb(56, 56, 130);
//                 font-weight: 600;
//             }
//             .frames-time{
//                 .icon{
//                     margin-bottom: 3px;
//                     color: #8CC63E;
//                     font-size: 14px;
//                     // color: #000;
//                 }
//                 // margin-top: 5px;
//                 font-size: 12px;
               
                
//             }
        
            
//         }
//         // .frames-cont{
//         //     margin-top: 20px;
//         //     margin: 60px;
//         //     background: #eaf6c4;
//         // }
//         .frames-header {
//             // padding: 30px ;
//             // height: 200px;

          
//             .frames-description{
//                 .frames-title{
//                     color: rgb(47, 47, 107);
//                     font-style: bold;
//                 }
//                 .frames-time{
//                     font-size: 12px;
//                     color: #8CC63E;
//                 }
//             }
//         }

//         .News-header{
//             background: green;
//             color: white;
//             border-radius: 10px;
//             height: 80px;
//             width: 100%;

//             .content-up{
//                 height: 75%;
//                 padding: 12px;
//                 .News-title{
//                     text-align: center;
//                     font-size: 40px;
//                     text-shadow: 2px 1px #000;
//                     color: #ffffff;
//                     font-weight: 200; 
//                 }
//             }
//         }

       
           


//             // .gach{
//             //     margin-top:15px;
//             //     border-top: 1px solid gray;
//             // }

          
//     }
// }

.news-detail{
    margin: 220px;
    justify-content: center;
    .title-news-detail{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;

    }
    .line{
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        border-color: #222222;
        height: 3px;
        width: 80px;

    }
    .news-detail-content{
        // background: #FFF;
        // padding: 30px 0;
        justify-content: center;
        .row{
            // margin: 80px;
          
            .img {
                height: 250px;
                width: 100%;
                border: 5px solid #8CC63E;
                border-radius: 15px;
            }
            .frames-title{
                font-size: 15px;
                color: rgb(56, 56, 130);
                font-weight: 600;
            }
            .frames-time{
                .icon{
                    margin-bottom: 3px;
                    color: #8CC63E;
                    font-size: 14px;
                    // color: #000;
                }
                // margin-top: 5px;
                font-size: 12px;
               
                
            }
        
            
        }
        // .frames-cont{
        //     margin-top: 20px;
        //     margin: 60px;
        //     background: #eaf6c4;
        // }
        .frames-header {
            // padding: 30px ;
            // height: 200px;

          
            .frames-description{
                .frames-title{
                    color: rgb(47, 47, 107);
                    font-style: bold;
                }
                .frames-time{
                    font-size: 12px;
                    color: #8CC63E;
                }
            }
        }

        .News-header{
            background: green;
            color: white;
            border-radius: 10px;
            height: 80px;
            width: 100%;

            .content-up{
                height: 75%;
                padding: 12px;
                .News-title{
                    text-align: center;
                    font-size: 40px;
                    text-shadow: 2px 1px #000;
                    color: #ffffff;
                    font-weight: 200; 
                }
            }
        }

       
           


            // .gach{
            //     margin-top:15px;
            //     border-top: 1px solid gray;
            // }

          
    }
}