.modal .modal-dialog .modal-content .modal-header{
    background-color: #7ed000;
    border: none;
}

// .active,
// .btn-pageNumber:hover {
//     background-color: #666;
//     color: white;
// }
.main_content{
   // //max-width: 88%;
    font-size: 15px;
    border: none;
    .wrapper-welcome {
                    display: flex;
        margin-left: 1000px;
                    .container-welcome {
                        display: flex;
            
                        img.img-img {
                            clip-path: circle(20px);
                            border: 1px solid black;
                            width: 50px;
                            height: 50px;
                        }
            
                        .profile-info {
                            font-family: 'comic sans ms', sans-serif;
                            font-size: 14px;
                            padding: 17px 5px;
                            width: auto;
                        }
                    }
                
                
            }
    .header{

        .btn-logout{
            font-size: 20px;
            margin-top: 16px;
            color: green;
            .wrapper-notification {
                    overflow: clip;
                    width: 130%;
                    z-index: 1000;
                    position: absolute;
                    background: #FFf;
                    right: 50px;
                    top: 50px;
                    border-radius: 10px;
            
                    .title-notification {
                        font-size: 18px;
                        background: #eaf6c4;
                        padding: 15px;
                        font-family: cursive;
                        border-bottom: 1px solid #e1e1e1;
            
                        .icon-close {
                            float: right;
                        }
                    }
            
                    .info-notification {
                        color: rgb(18, 17, 17);
                        font-size: 14px;
                        padding: 20px;
                        border-bottom: 1px solid rgb(225, 225, 225);
            
                        &:hover {
                            color: #077709;
                            background: #F8F8FF;
                            opacity: 0.7;
                        }
            
                    }
            
                }
        }
        .header_right  {
            margin-top: 8px;
            // padding-left: 450px;
           
        }
    }
    .title{
        background: #7ed000;
        padding: 30px 0px 30px 370px;
        color: #fff;
        font-family: monospace;
        font-size: 20px;
        font-weight: 10;
        z-index: -1;
        .serach_field-area  input {
            color: #86898e;
            font-size: 12px;
            height: 40px;
            margin-left: 350px;
            padding-left: 50px;
            padding-right: 150px;
            background: #fff;
            border-radius: 30px;
            border: 1px solid hsl(0, 0%, 100%);
            font-weight: 400;
        }
        .serach_field-area button{
            width: 80px;
            margin-left: 10px;
            padding: 9px;
            font-family: sans-serif;
            font-size: 14px;
            color: black;
            background: #fff;
            &:hover{
                color: #7ed000;
                background: #fff;
                scale: (1.15);
                border: none;
            }
        }
       
        .btn-create{ 
            padding: 8px ;
            margin: 0px 30px 0px 150px;
            border-radius: 10px;
            background-color: #ffffff;
            color: rgb(1, 113, 16);
            &:hover{
                background-color: #ffffff;
                transform: scale(1.15);
                border: 1px solid rgb(1, 113, 16);
         
             }
         }
    }
    .content{
        
        // background:  #d2d6e4;
        // z-index: -3;
        .table{
            text-align: center;
            justify-content: center;
       //     position: absolute;
            margin-left: 160px;
            width: 88%;
            background-color: white;
            border-radius: 10px;
            .thead{
                font-weight: 10;
                border-radius: 10px;
                color: rgb(37, 38, 37);
                th{
                    border-top: 0px solid #dee2e6;
                }
            }
            .tbody{        
                
                img.img-img {
                width: 100px;
                height: 100px;
                }
                .btn-edit {
                    background-color: white;
                    color: rgb(245, 221, 7);
                    border: 1px solid rgb(245, 221, 7);
                    font-size: 18px;
                
                    &:hover{
                        color: white;
                        background-color: rgb(255, 251, 7)
                    }
                }
            
                .btn-delete {
                    background-color: white;
                    color: #dc3545;
                    border: 1px solid #dc3545;
                    font-size: 18px;
                    &:hover{
                        color: white;
                        background-color: #fc394d;
                    }
                }
                .btn-detail {
                    background-color: white;
                    color: rgb(0, 158, 232);
                    border: 1px solid rgb(0, 158, 232);
                    font-size: 18px;
                    &:hover{
                        color: white;
                        background-color: rgb(0, 158, 232);
                    
                    }
                    .icon{
                        margin-bottom: 6px;
                        transform: scale(1.15);
                    }
                }
                :hover{
                    background-color:#F5FFFA;
                }
            }
          
          
        }

    }
    .search-btn-create{
        margin-top: 20px;
        .btn{
            padding: auto;
            height: 40px;
        }
        .btn-search {
            max-width: 20%;
            margin-left: 19px;
            border-radius: 13px;
            background-color: rgb(226, 249, 249);
            color: rgb(1, 113, 16);
            &:hover{
                background-color: #ffffff;
                transform: scale(1.15);
                border: 1px solid rgb(1, 113, 16);
        
            }
        }
        .btn-create{ 
            padding: 8px;
            border-radius: 13px;
            color: rgb(1, 113, 16);
            &:hover{
                background-color: #ffffff;
                transform: scale(1.1);
                border: 1px solid rgb(1, 113, 16);
        
            }
        }
    }
    .btn-pageNumber{
           margin: 30px 0 30px 1450px;
           width: auto;
            // z-index: 1000;
            // position: absolute;
            // border: 1px solid #7ed000;
            color: #7ed000;
            background: #fff;
            .btn-prev-next {
                border: 1px solid #7ed000;
                color: #7ed000;
                margin-right: 5px;
        // margin: 1300px 0 0 300px;
        // background: #86898e;
        //  left: 20%;
        // width: 88%;

    }
    }
   
   
   
    
    
}





