 // Modal xem chi tiết đơn thu gom
 .modal-detail-collect {
    .title-collect {
        color: #0015ff;
        text-align: center;
        font-size: 17px;
    }
     .form-row {
         .lable {
             color: #adb8ee;
             font-size: 14px;
             font-weight: 400;
          
         }

         .text {
             color: black;
             margin-left: 5px;
             font-size: 13.5px;
         }
       
        .status-s1 {
            //    font-family: Courier New;
            font-size: 11px;
            padding: 3px 4px;
            color: #fff;
            width: auto;
            //    color: rgb(162, 162, 162);
            background: rgb(162, 162, 162);

            .icon {
                font-size: 12px;
                color: #fff;
                background: rgb(162, 162, 162);
            }
        }

        .status-s2 {
            align-items: center;
            margin-top: 15px;
            font-size: 11px;
            padding: 3px 4px;
            color: black;
            width: auto;
            background: yellow;

            .icon {
                font-size: 12px;
                color: black;
                background: yellow;
            }
        }

        .status-s3 {
            align-items: center;
            margin-top: 15px;
            font-size: 11px;
            padding: 3px 4px;
            color: black;
            width: auto;
            background: yellow;

            .icon {
                font-size: 12px;
                color: black;
                background: yellow;
            }
        }

        .status-s4 {
            font-size: 11px;
            padding: 3px 4px;
            // font-weight: 700;
            color: #fff;
            background: #7ed000;
            // color: #7ed000;
            width: auto;

            .icon {
                font-size: 12px;
                color: #fff;
                background: #7ed000;
               
            }
        }

        .status-s5 {
            font-size: 11px;
            padding: 3px 4px;
            // font-weight: 700;
            color: #fff;
            background: #ff3939;
            // background: #FFF;
            // color: #ff3939;
            width: auto;

            .icon {
                font-size: 12px;
                background: #ff3939;
                color: #FFF;

            }
        }
     }
 }