.login-header{
    padding: 25px 100px;
    font-size: 40px;
    font-weight: 400;
    color: green ;
    font-family: monospace;
}
.login-background{
    max-width: 100%;;
    font-weight: 400;
    font-family: monospace;
    font-size: 16px;
    height: 73vh;
    .imgLogin{
        height: 73vh;
        // width: 100%;
    }
    .login-container{
        height: 73vh;
        width: 300px;
        border-left: 2px solid rgb(53, 52, 52) ;
        border-right: 2px solid rgb(53, 52, 52) ;
        border-top: 6px  solid rgb(53, 52, 52);
        border-bottom: 6px  solid rgb(53, 52, 52);
        border-radius: 65px;
        background: rgb(255, 255, 255);

    }

    .login-content{
        padding: 50px 30px;
        .text-login{
           color: green;
           text-align: center;
           font-weight: 400;
           font-family: monospace;
           line-height: 1.5;
           font-size: 23px;
           padding: 7px;
            
        }
        .login-input {
            margin: 19px 0px;
            label {
                color: #7ed500;
                margin-bottom: 0.5rem;
            }
            .icon{
                margin-right: 10px;
            }
            input{
                width: 100%;
                font-size: 16px;
                border: none;
                outline: none;
                border-bottom: 1px solid rgb(51, 51, 51);
            }
           
        }
        .btn-login{
            margin: 30px 0px;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            color: rgb(255, 255, 255);
            background: -webkit-linear-gradient(left,#7ed000,#7ed400 ,rgb(55, 163, 21));
            
        }
        .forgot-password{
            margin-left: 160px;
            font-size: 14px;
            color: #7ed500;
            .link-forgot-password{
                text-decoration: none;
                color: #7ed500;
            }
        }
       
    }
 }
 
 