@import "../../styles/common.scss";

.header-container {
    height: 100px;
    text-align: center;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    // background-color:#c0cdd6;
    color: rgb(255, 255, 255);
    position: relative;
    // margin:auto;  
    font-weight: 700;
    padding: 15px 15px;
   
    .welcome{
        padding: 8px;
        font-size: 15px;
        cursor: pointer;
        .icon-user{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    
    .language{
        width: 100px;
        // margin-left: 900px;
        display: flex;
        .language-vi {
            padding: 9px;
            cursor: pointer;
            opacity: 0.2;
            
            &.active {
                opacity: 1;
                span {
                    color: azure;
                }  
            }   
            
            &:hover {
                opacity: 1;
            }
        }
        .language-en{
            padding: 9px;
            cursor: pointer;
            opacity: 0.2;
            &.active {
                opacity: 1;
                span{
                    
                    color: azure;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
}