.bg-footer {
    margin-top: 200px;
    background-color: rgb(204, 197, 188);
    padding: 20px;
    .row{

        .col-3{
            .icon-contact{
                padding: 0px 10px;
            }
            padding: 0px 60px;
           
            a{
                color: rgb(75, 67, 67);
            }

        }
    }
}
