.container{
    margin: 100px 200px ;
    .title-news{
        text-align: center;
        font-family: monospace;
        font-weight: 500;
        color: #333333;
        font-size: 50px;
    }
    .line{
        margin-left: 520px;
        margin-bottom: 50px;
        text-align: center;
        border-style: solid;
        // border-bottom-width: 5px;
        border-color: #222222;
        height: 3px;
        width: 80px;
    
    }
}
.container-collection-form{
    padding: 80px 100px;
    font-size: 14px;
    .row{
        margin: 70px 0;
        height: auto;
        border-radius: 13px;
        padding: 30px;
        .img-pro {
            // clip-path: circle(140px);
            height: 200px;
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
        }
        .img-pro img{
            height: 200px; 
        
        }
        .info-giver{
            padding-top: 9px;
            font-size: 20px;
            font-weight: 500;
            color: #8CC63E;
           
        }
        .info-collection{
            font-weight: 450;
            padding-bottom: 10px;
            color: #8CC63E;
            .icon{
                margin-bottom: 5px;
            }
        }
        &:hover{
            transform: scale(1.05);
            background: rgb(249, 248, 245);
        }
        .btn-register-receive{
            font-size: 15px;
            margin-left: 700px;
            padding: 9px 20px;
            border: none;
            border-radius: 13px;
            background: #8CC63E;
            color:#FFF;
            &:hover{
                transform: scale(1.02);
                color: rgb(1, 113, 16);
                background-color: #ffffff;
                border: 1px solid rgb(1, 113, 16);
            }
        }
    }
    
}